    <!-- Download Section -->
    <section id="shorts" class="content-section text-center">
        <div class="shorts-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>30SecSci</h2>
                    <p>Short bonus videos that cover science in about 30 seconds!</p>
                    <p>To comment and to catch the latest shows visit our <a href="{{ site.youtube }}">Channel</a> and <strong>Subscribe</strong>!</p>
                    {% youtube VIDEO_ID?list=PLQ8pzFlA6bzaqgCi5NsCmvXMn5oAnMZmC %}
                </div>
            </div>
        </div>
    </section>
