<!-- Download Section -->
<section id="shorts" class="content-section text-center">
    <div class="shorts-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2 embed-responsive embed-responsive-16by9">
                <h2>Shorts: 30 Second Science</h2>
                <p>Let's Do the Science in about 30 Seconds is a short bonus feature series that explains elements of science quickly and simply.</p>
                <p>To comment and to catch the latest shows visit our <a href="{{ site.youtube }}">Channel</a> and <strong>Subscribe</strong>!</p>
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLQ8pzFlA6bzaqgCi5NsCmvXMn5oAnMZmC" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
